<template>
  <div>
    
    <facebook :url="url" title="tweet" description="thats how its done" scale="3"></facebook>
    <twitter :url="url" :title="tweet" text="hero" :button_hashtags="hashtags" scale="3"></twitter>
    <div>message{{tweet}}</div>

    <a v-on:click="myFunction()" id="tweeter" class="twitter-share-button">Tweet</a>

    <a
      href="https://twitter.com/intent/tweet?text=My%20aura%20is%20blue.%20Discover%20your%20aura%20at%20http://www.carolynmcneillie.com/colours%20pic.twitter.com/E3SdsiIqPr%20@carolynalive"
      target="_blank"
    >
      <span class="fa fa-twitter">dhbfj</span>
    </a>
  </div>
</template>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
import { Facebook } from "vue-socialmedia-share";
import { Twitter } from "vue-socialmedia-share";

export default {
  components: {
    Facebook,
    Twitter
  },
  data() {
    return {
      url: "http://localhost:8080/#/about",
      tweet: "this should work",
      hashtags: "sayil"
    };
  },
  methods: {
    myFunction() {
      console.log("work");
      var tweet = document.getElementsByTagName("a")[0];
      var att = document.createAttribute("href");
      var texts = "safe events: share your events ";
      var image = "https://res.cloudinary.com/sayil/image/upload/v1564486714/ve1hozrktvlzvngploxa.jpg";
      var url = "https://safe-events.surge.sh";
      att.value = `https://twitter.com/intent/tweet?text=${texts}${url}%20${image}`;
      tweet.setAttributeNode(att);
    }
  }
};
</script>
<style>
.hello {
  color: brown;
}
</style>
