<template>
  <div class="home">
    <div class="back">
      <v-container fill-height>
        <v-layout align-center>
          <v-flex style="margin-top:200px; margin-left:100px">
            <h3 class="display-3" style="color:white">#Welcome to safe events</h3>
            <span class="display-2" style="color:orange">do more with just a little</span>
            <br />
            <div style="margin-top:90px">
              <router-link to="/events">
                <v-btn>See Our Events</v-btn>
              </router-link>

              <router-link to="/login">
                <v-btn style="margin-left:100px" flat color="orange">Sign-up/Login</v-btn>
              </router-link>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <v-footer padless>
      <v-flex text-center xs12>
        {{ new Date().getFullYear() }} —
        <strong>Safe Events (GeeExxSyl)</strong>
      </v-flex>
    </v-footer>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  data() {
    return {};
  },
  name: "home",
  components: {
    HelloWorld
  }
};
</script>
<style>
.home {
  background-image: url("../../assets/beard-bonding-community-708440.jpg");
  background-position: center;
  height: 580px;
}

.back {
  background: rgba(0, 0, 0, 0.65);
  color: white;
  background-position: center;
  min-height: 100%;
  width: 100%;
}
.text {
  padding-top: 120px;
  font-size: 80px;
  text-align: center;
  color: orange;
}
#rcorners3 {
  border-radius: 50px;
  background: url("../../assets/pexels-photo-814049.jpeg");
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}
ul li {
  display: inline-block;
  margin-top: 50px;
  font-size: 30px;
  margin-right: 70px;
}
</style>

