
 <template>
<!-- eslint-disable  -->
<div data-app>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    >
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    >
  </head>

  <div class="form">
    <v-card>
      <v-toolbar color="cyan" dark>
        <v-toolbar-title>upload an event</v-toolbar-title>
      </v-toolbar>
      <v-container fluid grid-list-xl>
        <form enctype="multipart/form-data" @submit.prevent="onSubmit">
          <v-layout wrap align-center>
            <v-flex xs12 sm6 d-flex>
              <v-text-field label="Title" v-model="events.title" required></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 d-flex>
              <v-text-field
                label="Please provide a short description of event"
                required
                v-model="events.description"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 d-flex>
              <label for>File:</label>
              <input
                type="file"
                class="form-control"
                accept="image/*"
                name="image"
                v-on:change="upload($event.target.files)"
              >
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <v-select
                :items="categories"
                label="Category"
                multiple
                v-model="events.category"
                chips
                hint="Select category of event"
                persistent-hint
              ></v-select>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <v-select :items="Access" label="Access Type" v-model="events.accessType"></v-select>
            </v-flex>
            <v-flex xs12 sm6 d-flex v-if="events.accessType==='Tickets'">
              <v-text-field class="mr-1" type="number" label="VIP" v-model="events.tickets.vip"></v-text-field>
              <v-text-field
                class="mr-1"
                type="number"
                label="Regular"
                v-model="events.tickets.regular"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 d-flex v-if="events.accessType==='Open'">
              <v-text-field value="FREE" disabled></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <v-select
                :items="Locations"
                label="Location(state)"
                multiple
                v-model="events.location"
                chips
                hint="Select Your Location(State)"
                persistent-hint
              ></v-select>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <v-text-field label="Exact venue of events" required v-model="events.venue"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 d-flex>
               <v-menu
        ref="menu2"
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="date"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="date"
            label="Picker in menu"
            prepend-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="menu2 = false">Cancel</v-btn>
          <v-btn flat color="primary" @click="$refs.menu2.save(date)">OK</v-btn>
        </v-date-picker>
      </v-menu>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="time"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="time"
                    label="Picker in menu"
                    prepend-icon="access_time"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-if="menu"
                  v-model="time"
                  full-width
                  @click:minute="$refs.menu.save(time)"
                >
                  <v-btn flat color="primary" @click="$refs.menu.save(time)">OK</v-btn>
                </v-time-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <!-- <input type="text" class="form-control" name="text" v-model="model.text"> -->
              <v-text-field label="add watermark text on image" required v-model="model.text"></v-text-field>
            </v-flex>

            <v-flex xs12 sm3 d-flex>
              <v-btn outline color="purple" v-on:click="onSubmit">Submit</v-btn>
            </v-flex>
            <br>
            <v-flex xs12 sm3 d-flex>
              <v-btn outline color="purple">Clear</v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-container>
    </v-card>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import moment from "moment";

export default {
  data: function() {
    return {
      menu: false,
      date: new Date().toISOString().substr(0, 10),
      time: null,
      menu2: false,
      modal2: false,
      Locations: ["Abuja", "Lagos", "Asaba", "Benin"],
      categories: ["Gospel", "Social", "Dance and fitness", "Comedy"],
      Access: ["Open", "Tickets"],
      model: {
        text: "",
        image: null
      },

      watermarked: null,
      name: "hello youS",
      count: null,
      msg: "welcome to sayil",
      events: {
        title: null,
        description: "",
        category: "",
        location: "",
        venue: "",
        date: "",
        time: "",
        accessType: "Open",
        tickets: {
          vip: null,
          regular: null
        },
        ownerId: ""
      }
    };
  },
  methods: {
    upload: function(files) {
      this.model.image = files[0];
    },

    pickFile() {
      this.$refs.image.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0]; // this is an image file that can be sent to server...
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    },
    onSubmit: function() {
      var UserData = JSON.parse(window.localStorage.getItem("auth-user"));
      const formData = new FormData();
      formData.append("image", this.model.image);
      formData.append("watermark", this.model.text);
      formData.append("title", this.events.title);
      formData.append("description", this.events.description);
      formData.append("category", this.events.category);
      formData.append("location", this.events.location);
      formData.append("venue", this.events.venue);
      formData.append("date", this.date);
      formData.append("time", this.time);
      formData.append("accessType", this.events.accessType);
      formData.append("vip", this.events.tickets.vip);
      formData.append("regular", this.events.tickets.regular);
      formData.append("ownerId", UserData._id);
      // Post to server

      let newEvents = {
        title: this.events.title,
        image: this.model.image,
        watermark: this.model.text,
        description: this.events.description,
        category: this.events.category,
        accessType: this.events.accessType,
        ticket: {
          vip: this.events.tickets.vip,
          regular: this.events.tickets.regular
        },
        location: this.events.location,
        venue: this.events.venue,
        Date: this.date,
        time: this.time,
        ownerId: UserData._id,
        formData
      };
      // console.log(newEvents);
      // console.log(this.model.image + "for the images");
      console.log(newEvents, "form data");

      axios
        .post("http://localhost:2020/events/allEvents", formData)
        .then(res => {
          // Update UI
          this.watermarked = res.data.url;
        });
    }
  },
  mounted() {
    axios
      .get("http://localhost:2020/events/all")
      .then(response => {
        // console.log(response.data);
        var x = Object.keys(response.data).length;
        // console.log("mounted"+x);
        return Object.keys(response.data).length;
      })
      .catch(error => {
        console.log(error);
      });
  },
  computed: {
    TotalEvents: function() {
      axios
        .get("http://localhost:2020/events/all")
        .then(response => {
          console.log(response.data);
          this.count = Object.keys(response.data).length;
          console.log(this.count);
        })
        .catch(error => {
          console.log(error);
        });
    },
    computedDateFormattedMomentjs() {
      return this.date ? moment(this.date).format("dddd, MMMM Do YYYY") : "";
    },

    Tester: function() {
      axios
        .get("http://localhost:2020/events/all")
        .then(response => {
          console.log(response.data);
          this.count = Object.keys(response.data).length;
          console.log(this.count);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>s
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.uploads {
  /* background-color: blueviolet;
  height: 20px;
  width: 200px;
 margin-left: 0px */
}
.data {
  height: 450px;
  background-color: darkslategrey;
}

.cards {
  width: 300px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  text-align: left;
}
.form {
  margin-left: 0;
  margin-right: 0;
  padding-left: auto;
  padding-right: auto;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
</style>
