<template >
  <div style="overflow-x:hidden;">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <v-layout row xs12 md4 wrap>
      <ul v-if="posts && posts.length">
        <li v-for="post in posts" v-bind:key="post.id">
          <v-hover>
            <v-card
              slot-scope="{ hover }"
              class="mx-auto"
              color="grey lighten-4"
              width="300"
              height="300"
            >
              <v-img v-bind:src="post.imagesPath" :aspect-ratio="16/9">
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="d-flex transition-fast-in-fast-out orange darken-2 v-card--reveal display-3 white--text"
                    style="height: 100%;"
                  >Safe</div>
                </v-expand-transition>
              </v-img>
              <v-card-text class="pt-4" style="position: relative;">
                <div class="font-weight-light black--text title mb-2">
                  {{post.start| moment(" h:mm: a") }}
                  <br />
                  {{post.start| moment("dddd, MMMM Do") }}
                </div>
                <h3 class="display-1 font-weight-light orange--text mb-2"></h3>
                <div class="font-weight-light title mb-2">
                  {{post.accessType}}
                  <br />Made of bamboo by hand
                </div>
                <v-layout row justify-left>
                  <v-dialog
                    v-model="dialog"
                    fullscreen
                    hide-overlay
                    transition="dialog-bottom-transition"
                  >
                    <template v-slot:activator="{ on }">
                      <!-- <v-btn
                        absolute
                        color="orange"
                        class="white--text"
                        fab
                        large
                        left
                        top
                        v-on:click="_dialog(post)"
                      >
                        <v-icon>more</v-icon>
                      </v-btn> -->
                      <v-btn
                        absolute
                        color="blue"
                        class="white--text"
                        fab
                        large
                        right
                        top
                        v-on:click="gotoEvent(post._id)"
                      >
                      
                      </v-btn>
                      <v-icon>fas fa-edit</v-icon>
                    </template>

                    <v-card class="v-dialog--fullscreen">
                      <v-toolbar dark color>
                        <v-btn icon dark @click="Dialog = false"></v-btn>
                        <v-toolbar-title
                          color="purple accent-4"
                        >{{selectedevent.title | capitalize}}</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                          <v-btn dark flat @click="dialog = false">Done</v-btn>
                        </v-toolbar-items>
                      </v-toolbar>

                      <div>
                        <div class="row">
                          <div class="tm-left-right-container">
                            <!-- Right column: content -->
                            <div class="tm-right-column">
                              <figure></figure>

                              <div class="tm-content-div">
                                <section id="thirdgallery" class="tm-section">
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <!-- <form action="#contact" method="post" class="contact-form"> -->
                                      <img
                                        v-bind:src="selectedevent.imagesPath"
                                        style="height:400px; width:600px"
                                      />
                                    </div>

                                    <div class="col-lg-6 tm-contact-right">
                                      <p>{{selectedevent.title}}</p>
                                      <p v-if="tickets">
                                        . VIP for this event is NGN {{tickets.vip}},
                                        <br />
                                        REGULAR for this event is NGN {{tickets.regular}},
                                        <br />porta vel sodales nec, faucibus non eros. Nulla at quam vel risus laoreet tincidunt in in sem.
                                      </p>
                                      <address>
                                        11/22 Etiam mauris erat,
                                        <br />Vestibulum eu augue nec, 10220
                                        <br />Nam consequat
                                      </address>
                                    </div>
                                  </div>
                                </section>
                                <!-- Welcome section -->
                                <section id="welcome" class="tm-section">
                                  <header>
                                    <h2
                                      class="tm-blue-text tm-welcome-title tm-margin-b-45"
                                    >{{selectedevent.title}}</h2>
                                  </header>
                                  <p>Neaty is simple and clean design HTML CSS template for any kind of website. Feel free to use this layout. Please tell your friends about templatemo website. Thank you. Suspendisse imperdiet, felis eu hendrerit pretium, sapien mauris blandit arcu, et accumsan neque est ut erat. Vivamus eget tellus euismod, interdum nibh at, eleifend justo. Quisque placerat ante in ex tempor, ultrices bibendum nunc finibus. Etiam luctus nec eros vel pulvinar.</p>
                                </section>
                                <!-- About section -->
                                <section id="about" class="tm-section">
                                  <div class>
                                    <div>
                                      <header>
                                        <h2
                                          class="tm-blue-text tm-section-title tm-margin-b-45"
                                        >Taking place in {{selectedevent.location}}</h2>
                                      </header>
                                      <p>Sed turpis nunc, laoreet sit amet fermentum sed, euismod ac justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                      <p>Donec ut lectus semper, sollicitudin risus blandit, mattis felis. Nam non malesuada odio. Vestibulum vaius, arcu eget rutrum consequat, arcu lacus imperdiet arcu, id pulvinar arcu erat vel magna.</p>
                                      <p>Ut commodo malesuada eros, quis consequat ante tincidunt ut. Suspendisse malesuada augue vitae nisi sollicitudin placerat.</p>
                                    </div>
                                  </div>
                                </section>

                                <!-- Gallery One section -->
                                <section id="galleryone" class="tm-section">
                                  <header>
                                    <h2
                                      class="tm-blue-text tm-section-title tm-margin-b-30"
                                    >Description</h2>
                                  </header>
                                  {{selectedevent.description}}
                                </section>

                                <!-- Second Gallery section -->
                                <section id="secondgallery" class="tm-section">
                                  <header>
                                    <h2
                                      class="tm-blue-text tm-section-title tm-margin-b-30"
                                    >Second Gallery</h2>
                                  </header>
                                  <div class="tm-gallery-container tm-gallery-2">
                                    <div class="tm-img-container tm-img-container-2">
                                      <a href="img/neaty-08.jpg">
                                        <img
                                          src="img/neaty-08.jpg"
                                          alt="Image"
                                          class="img-fluid tm-img-tn"
                                        />
                                      </a>
                                    </div>
                                    <div class="tm-img-container tm-img-container-2">
                                      <a href="img/neaty-09.jpg">
                                        <img
                                          src="img/neaty-09.jpg"
                                          alt="Image"
                                          class="img-fluid tm-img-tn"
                                        />
                                      </a>
                                    </div>
                                    <div class="tm-img-container tm-img-container-2">
                                      <a href="img/neaty-10.jpg">
                                        <img
                                          src="img/neaty-10.jpg"
                                          alt="Image"
                                          class="img-fluid tm-img-tn"
                                        />
                                      </a>
                                    </div>
                                  </div>
                                </section>

                                <section id="contact" class="tm-section">
                                  <header>
                                    <h2
                                      class="tm-blue-text tm-section-title tm-margin-b-30"
                                    >Get Tickets</h2>
                                  </header>

                                  <div></div>

                                  <div class="row">
                                    <div class="col-lg-6">
                                      <!-- <form action="#contact" method="post" class="contact-form"> -->
                                      <div class="form-group">
                                        <v-flex xs12 sm12>
                                          <v-text-field label="Enter Full name" single-line outline></v-text-field>
                                        </v-flex>
                                      </div>
                                      <div class="form-group">
                                        <v-flex xs12 sm12>
                                          <v-text-field
                                            label="Enter Email Address"
                                            single-line
                                            outline
                                            v-model="email"
                                          ></v-text-field>
                                        </v-flex>
                                      </div>
                                      <div class="form-group">
                                        <v-select
                                          :items="items"
                                          label="Outline style"
                                          outline
                                          v-model="tickets"
                                        ></v-select>
                                      </div>
                                      <div>
                                        <!-- <test/> -->
                                      </div>
                                      <!-- </form> -->
                                    </div>

                                    <div class="col-lg-6 tm-contact-right">
                                      <p>{{selectedevent.title}}</p>
                                      <p v-if="tickets">
                                        . VIP for this event is NGN {{tickets.vip}},
                                        <br />
                                        REGULAR for this event is NGN {{tickets.regular}},
                                        <br />porta vel sodales nec, faucibus non eros. Nulla at quam vel risus laoreet tincidunt in in sem.
                                      </p>
                                      <address>
                                        11/22 Etiam mauris erat,
                                        <br />Vestibulum eu augue nec, 10220
                                        <br />Nam consequat
                                      </address>
                                    </div>

                                    <paystack
                                      :amount="amount"
                                      :email="email"
                                      :paystackkey="paystackkey"
                                      :reference="reference"
                                      :callback="callback"
                                      :close="close"
                                      :embed="false"
                                    >
                                      <i class="fas fa-money-bill-alt"></i>
                                      Make Payment
                                    </paystack>
                                  </div>
                                </section>

                                <!-- Third Gallery section -->
                                <section id="thirdgallery" class="tm-section">
                                  <header>
                                    <h2
                                      class="tm-blue-text tm-section-title tm-margin-b-30"
                                    >Become an affiliate</h2>
                                  </header>

                                  <div></div>

                                  <div class="row">
                                    <div class="col-lg-6">
                                      <!-- <form action="#contact" method="post" class="contact-form"> -->
                                      <div class="form-group">
                                        <v-flex xs12 sm12>
                                          <v-text-field label="User ID" single-line outline></v-text-field>
                                        </v-flex>
                                      </div>
                                      <div class="form-group">
                                        <v-flex xs12 sm12>
                                          <v-text-field
                                            label="Email"
                                            single-line
                                            outline
                                            v-model="email"
                                          ></v-text-field>
                                        </v-flex>
                                      </div>
                                      <div class="form-group">
                                        <v-select
                                          :items="SocialMedia"
                                          label="Choose Social Platform for advertisement"
                                          outline
                                        ></v-select>
                                      </div>
                                    </div>

                                    <div class="col-lg-6 tm-contact-right">
                                      <div style="font-size: 15px;">
                                        <p>{{selectedevent.title}}</p>
                                        <p v-if="tickets">
                                          . VIP for this event is NGN {{tickets.vip}},
                                          <br />
                                          REGULAR for this event is NGN {{tickets.regular}},
                                          <br />porta vel sodales nec, faucibus non eros. Nulla at quam vel risus laoreet tincidunt in in sem.
                                        </p>
                                        <address>
                                          11/22 Etiam mauris erat,
                                          <br />Vestibulum eu augue nec, 10220
                                          <br />Nam consequat
                                        </address>
                                      </div>
                                    </div>
                                  </div>
                                </section>

                                <footer>
                                  <p class="tm-copyright-p">
                                    Copyright &copy;
                                    <span class="tm-current-year">2017</span> Your Company
                                    | Designed by
                                    <a
                                      href="http://www.templatemo.com"
                                      target="_parent"
                                    >templatemo</a>
                                  </p>
                                </footer>
                              </div>
                            </div>
                            <!-- Right column: content -->
                          </div>
                        </div>
                        <!-- row -->
                      </div>
                      <!-- container -->
                    </v-card>
                  </v-dialog>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-hover>
        </li>
      </ul>
    </v-layout>
    <!-- <ul v-if="errors && errors.length">
      <li v-for="error of errors">{{error.message}}</li>
    </ul>-->
  </div>
</template>

<script type="text/javascript">
import axios from "axios";
import eve from "../dialogs/eventsdialogs";
import paystack from "vue-paystack";

export default {
  components: {
    eve,
    paystack
  },
  data() {
    return {
      paystackkey: "pk_test_77fa18fbe266d5a49fbc43e726bbfea8e4f224ea", //paystack public key
      email: "foobar@example.com", // Customer email
      amount: 1000000, // in kobo,
      posts: [],
      errors: [],
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      selectedevent: "",
      tickets: "",
      items: ["VIP", "REGULAR"],
      SocialMedia: ["Facebook", "Twitter", "Instagram", "WhatsApp"],
      tickets: {
        email: "",
        fullName: "",
        ticket_type: ""
      }
    };
  },

  // Fetches posts when the component is created.
  created() {
    // https://safe-events-server.herokuapp.com/
    // "http://localhost:2020/events/all"
    axios
      .get("http://localhost:2020/events/all")
      .then(response => {
        // JSON responses are automatically parsed.
        this.posts = response.data;
        console.log(response.data);
      })
      .catch(e => {
        this.errors.push(e);
      });
  },
  computed: {
    reference() {
      let text = "";
      let possible =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (let i = 0; i < 10; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }
  },
  methods: {
    _dialog: function(post) {
      this.dialog = true;
      this.selectedevent = post;
      this.tickets = post.tickets;
      console.log("this is the selected event", this.selectedevent);
      console.log("this is the tickets", this.tickets);
    },

    gotoEvent: function(eventId) {
      this.$router.push({ name: "event", params: { eid: eventId } });
    },

    callback: function(response) {
      console.log(response);
    },
    close: function() {
      console.log("Payment closed");
    },

    getTicket() {}
  }
};
</script>
<style scoped>
.v-dialog--fullscreen {
  border-radius: 0;
  margin: 0;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 100px;
  /* Depending on the header height you want to show. */
  left: 0;
}

.main-image {
  width: 100%;
  height: 550px;
}

li {
  list-style: none;
  display: inline-block;
}

.v-card--reveal {
  align-items: left;
  bottom: 0;
  justify-content: left;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

a,
button {
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.row {
  display: block;
}
.tm-left-right-container {
  width: 100%;
}

.tm-blue-bg {
  background-color: white;
  /* color:rgb(168, 27, 27); */
}

.tm-blue-text {
  color: #006599;
}
.tm-blue-bg a {
  color: black;
}

.tm-site-name {
  font-size: 4rem;
  margin-top: 2px;
}

.tm-section {
  margin-bottom: 60px;
  font-size: 20px;
}
.tm-welcome-title {
  font-size: 2.4rem;
}
.tm-section-title {
  font-size: 2.2rem;
}
.tm-content-div {
  padding: 40px;
}
.tm-margin-b-45 {
  margin-bottom: 45px;
}
.tm-margin-b-30 {
  margin-bottom: 30px;
}
p {
  line-height: 2;
}

.tm-button {
  background-color: #006599;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  padding: 18px 35px;
}

.tm-button-wide {
  padding: 18px 40px;
}

.tm-button:hover,
.tm-button:active,
.tm-button:focus {
  background-color: #2790c6;
  color: white;
}

.tm-nav-item:hover a,
.tm-nav-item:active a,
.tm-nav-item:focus a,
.tm-nav-item-link.active {
  color: #f4ef5e;
}

.tm-about-img-container {
  margin-top: 50px;
}

.tm-gallery-container {
  overflow: auto;
  margin-left: -5px;
  margin-right: -5px;
}

.tm-img-container {
  float: left;
}

.tm-img-container-1,
.tm-img-container-2,
.tm-img-container-3 {
  margin-bottom: 10px;
  width: 50%;
}

.tm-img-tn {
  padding-left: 5px;
  padding-right: 5px;
}

.tm-img-tn {
  display: block;
  margin: 0 auto;
}

.tm-contact-right {
  margin-top: 40px;
}

.form-control {
  border-color: #0a6697;
  border-radius: 0;
  color: #4286ab;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #4286ab !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #4286ab !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #4286ab !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #4286ab !important;
}

.tm-contact-right {
  padding-left: 15px;
}
.tm-copyright-p {
  margin-bottom: 0;
}

/* Media Queries */
@media (min-width: 576px) {
  .container {
    width: 100%;
  }
  .tm-site-name {
    margin-top: 35px;
  }
  .tm-welcome-title {
    font-size: 3rem;
  }
  .tm-img-container-1 {
    width: 20%;
  }
  .tm-img-container-2 {
    width: 33.3334%;
  }
  .tm-img-container-3 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .tm-about-img-container {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .tm-main-nav {
    /* display: flex; */
    /* justify-content: left; */
  }

  .tm-left-column {
    position: fixed;
    height: 100%;
    background-color: #2790c6;
  }

  .container {
    width: 100%;
  }
  .tm-left-column {
    /* width: 20%; */
  }

  .tm-right-column {
    float: right;
    width: 100%;
  }

  .tm-nav-item {
    cursor: pointer;

    list-style: none;
    padding-left: auto;
    padding-right: auto;
    transition: all 0.3s ease;
  }

  .tm-site-name {
    font-size: 3.3rem;
    margin-top: 3px;
  }

  .tm-logo-div {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .tm-section {
    margin-bottom: 100px;
  }

  .tm-content-div {
    /* padding: 80px 40px 30px 80px; */
  }

  .tm-img-container-1 {
    margin-bottom: 10px;
    width: 33.3334%;
  }

  .tm-img-container-2 {
    margin-bottom: 10px;
    width: 50%;
  }

  .tm-img-container-3 {
    margin-bottom: 10px;
    width: 33.3333%;
  }

  .tm-contact-right {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
  .tm-button-wide {
    padding: 18px 68px;
  }
  .tm-img-container-1 {
    width: 20%;
  }
  .tm-img-container-2 {
    width: 33.3333%;
  }
  .tm-img-container-3 {
    width: 25%;
  }
  .tm-contact-right {
    padding-left: 50px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 100%;
  }
  p {
    margin-bottom: 30px;
  }

  .tm-gallery-container {
    overflow: auto;
    margin-left: -10px;
    margin-right: -10px;
  }

  .tm-img-tn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1800px) {
  .container,
  .tm-left-right-container {
    width: 100%;
  }

  p {
    margin-bottom: 36px;
  }

  .tm-gallery-container {
    overflow: auto;
    margin-left: -10px;
    margin-right: -10px;
  }

  .tm-img-container-1 {
    width: 20%;
  }

  .tm-img-tn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-height: 860px) {
  .tm-logo-div {
    /* padding-top: 10px;
    padding-bottom: 10px; */
  }

  .tm-nav-item {
    font-size: 2rem;
    padding: 0px;
    text-align: left;
  }

  .tm-site-name {
    font-size: 2.4rem;
    margin-top: 10px;
  }
}

@media (min-height: 859px) {
  /* .tm-logo-div {
    padding-top: 100px;
    padding-bottom: 100px;
  } */

  .tm-nav-item {
    font-size: 2.9rem;
  }
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: left;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #ccc;
}
.mfp-preloader a:hover {
  color: #fff;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: left;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  /* font-size: 28px; */
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  /* font-size: 12px; */
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  /* line-height: 14px; */
}
.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
  screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  img {
    height: 200px;
    width: 300px;
  }
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: left;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
</style>
