<template>
    <div>
        <v-layout row wrap>
<v-flex md4 xs12 pa-3>
    <v-card color="brown darken-2" class="white--text">
              <v-card-title primary-title>
                <div>
                  <div class="headline">Wooden Package</div>
                  <span>1000 Coins</span>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-btn flat dark>#200</v-btn>
                <v-spacer></v-spacer>
                 <v-btn flat dark @click.stop="dialog = true">Buy</v-btn>
              </v-card-actions>
            </v-card>
</v-flex>
<v-flex md4 xs12 pa-3>
    <v-card color="black darken-2" class="white--text">
              <v-card-title primary-title>
                <div>
                  <div class="headline">Bronze Package</div>
                  <span>1500 Coins</span>
                </div>
              </v-card-title>
             <v-card-actions>
                <v-btn flat dark>#300</v-btn>
                <v-spacer></v-spacer>
                 <v-btn flat dark>Buy</v-btn>
              </v-card-actions>
            </v-card>
</v-flex>
<v-flex md4 xs12 pa-3>
    <v-card color="grey darken-2" class="white--text">
              <v-card-title primary-title>
                <div>
                  <div class="headline">Silver Package</div>
                  <span>2000 Coins</span>
                </div>
              </v-card-title>
               <v-card-actions>
                <v-btn flat dark>#450</v-btn>
                <v-spacer></v-spacer>
                 <v-btn flat dark>Buy</v-btn>
              </v-card-actions>
            </v-card>
</v-flex>
<v-flex md4 xs12 pa-3>
    <v-card color="yellow darken-2" class="white--text">
              <v-card-title primary-title>
                <div>
                  <div class="headline">Golden Package</div>
                  <span>5000 Coins</span>
                </div>
              </v-card-title>
               <v-card-actions>
                <v-btn flat dark>#750</v-btn>
                <v-spacer></v-spacer>
                 <v-btn flat dark>Buy</v-btn>
              </v-card-actions>
            </v-card>
</v-flex>
<v-flex md4 xs12 pa-3>
    <v-card color="purple darken-2" class="white--text">
              <v-card-title primary-title>
                <div>
                  <div class="headline">VIP Package</div>
                  <span>10,000 Coins</span>
                </div>
              </v-card-title>
               <v-card-actions>
                <v-btn flat dark>#950</v-btn>
                <v-spacer></v-spacer>
                 <v-btn flat dark>Buy</v-btn>
              </v-card-actions>
            </v-card>
</v-flex>
        </v-layout>


        <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Sorry Payment not yet working</v-card-title>

        <v-card-text>
         Sorry Payment not yet working       </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="dialog = false"
          >
            Disagree
          </v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="dialog = false"
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
</template>

<script>
export default {
data(){
    return{
        dialog: false
    }
}
}
</script>

<style>

</style>
