<template>
<!-- eslint-disable -->
<div>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    >
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    >
  </head>

  <!-- this div will hold the body with the side navigation bar -->
  <div>
    <!-- this div will hold the side bar -->
    <div class="side">
      <v-navigation-drawer permanent>
        <v-toolbar flat>
          <v-list>
            <v-list-tile>
              <v-list-tile-title class="title">Safe Events</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-toolbar>

        <v-divider></v-divider>

        <v-list dense class="pt-0">
          <v-list-tile v-for="item in items" :key="item.title" @click>
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
             <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </div>
    <!-- this div will hold table and cards from side bar -->
    <div>
      <!-- the cards are palced here -->
      <!-- this div is for the flex containers -->
      <div class="flex-container">
        <!-- this div is for the flex items -->
        <div>
          <v-layout>
            <v-card color="pink">
              <v-card-title primary-title>
                <div>
                  <v-icon large color="blue-grey darken-2">call_split</v-icon>
                  <h3 class="headline mb-0">Total number of events</h3>
                </div>
                <div>
                  <span>{{TotalEvents}}</span>
                  <h1>{{this.count}}</h1>
                </div>
              </v-card-title>

              <v-card-actions></v-card-actions>
            </v-card>
          </v-layout>
        </div>
        <div>
          <v-layout>
            <v-card color="yellow">
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Total number of Users</h3>
                </div>
                <div>
                  <span>{{TotalUsers}}</span>
                  <h1>{{this.countusers}}</h1>
                </div>
              </v-card-title>

              <v-card-actions></v-card-actions>
            </v-card>
          </v-layout>
        </div>
        <div>
          <v-layout>
            <v-card color="cyan">
              <v-card-title primary-title>
                <img src="../../flaticons/icons.png" alt="image here">
                <div>
                  <h3 class="headline mb-0">Total number of events</h3>
                </div>
                <div>
                  <span>{{TotalEvents}}</span>
                  <h1>{{this.count}}</h1>
                </div>
              </v-card-title>

              <v-card-actions></v-card-actions>
            </v-card>
          </v-layout>
        </div>
        <div>
          <v-layout>
            <v-card color="orange">
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Total number of events</h3>
                </div>
                <div>
                  <span>{{TotalEvents}}</span>
                  <h1>{{this.count}}</h1>
                </div>
              </v-card-title>

              <v-card-actions></v-card-actions>
            </v-card>
          </v-layout>
        </div>
        <div style="flex-grow: 10">
          <v-card>
            <v-toolbar>
              <v-toolbar-title>Users</v-toolbar-title>

              <v-divider class="mx-2" inset vertical></v-divider>
              <v-card-title>
                <v-spacer>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-spacer>
              </v-card-title>
            </v-toolbar>

            <v-data-table :headers="mainHeaders" :items="events" :search="search">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.title }}</td>
                <td class="text-xs-left">{{ props.item.category }}</td>
                <td class="text-xs-left">{{ props.item.location }}</td>
                <td
                  class="text-xs-left"
                >{{ props.item.created_date | moment("dddd, MMMM Do YYYY, h a")}}</td>
                <td class="text-xs-left">
                  <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                </td>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
              >Your search for "{{ search }}" found no results.</v-alert>
            </v-data-table>
          </v-card>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
export default {
  x: null,
  count: null,
  data() {
    return {
      dialog: false,
      search: "",
      mainHeaders: [
        {
          text: "Title",

          value: "title"
        },
        { text: "category", value: "category" },
        { text: "location", value: "location" },
        { text: "start", value: "start" },
        { text: "action", value: "action" }
      ],
      count: null,
      countusers: null,
      users: [],
      events: []
    };
  },
  methods: {
    navigateTo(route) {
      this.$router.push(route);
    }
  },
  computed: {
    TotalEvents: function() {
      axios
        .get("http://localhost:2020/events/all")
        .then(response => {
          console.log(response.data);
          this.count = Object.keys(response.data).length;
          this.events = response.data;
          console.log(this.events + "these are the events");
          console.log(this.count + "these counter");
          console.log(
            "how far " + this.mainItems + " these are the main items"
          );
        })
        .catch(error => {
          console.log(error);
        });
    },
    TotalUsers: function() {
      axios
        .get("http://localhost:2020/users/allusers")
        .then(response => {
          console.log(response.data);
          this.users = response.data;
          this.countusers = Object.keys(response.data).length;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
<style>
.side {
  float: left;
  margin-top: 10px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-container > div {
  background-color: rgb(242, 217, 242);
  width: 200px;
  margin: 5px;
  text-align: left;
  line-height: 75px;
  font-size: 30px;
  margin-top: 10px;
}
.table {
  width: 20px;
  background-color: red;
  float: right;
}
</style>
