<template>
  <div class="template">
    <v-card class="mx-auto" dark color="rgb(000, 0, 0, 0.0)" max-width="400" max-height="400">
      <div class="loginform">
        <v-layout row justify-center>
          <div style="margin-top:90px" color="transparent">
            <v-card-title>
              <span class="headline" style="text-align:center; color:white">Login</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field
                      label="Email*"
                      required
                      v-model="login.email"
                      color="white --text"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      label="Password*"
                      type="password"
                      required
                      v-model="login.password"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-flex xs12 sm12>
                <div style="margin-buttom:5px">
                  <v-btn color="white orange--text" round dark block v-on:click="Login()">Login</v-btn>
                </div>

                <hr />

                <v-btn color="white orange--text" round dark block v-on:click="Dialog()">Signup</v-btn>
              </v-flex>
            </v-card-actions>
          </div>
        </v-layout>
      </div>

      <v-progress-circular
        v-if="progress==='true'"
        :size="70"
        :width="7"
        color="white"
        :indeterminate="true"
      ></v-progress-circular>

      <v-snackbar
        v-model="snackbar"
        :bottom="y === 'bottom'"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :right="x === 'right'"
        :timeout="timeout"
        :top="y === 'top'"
        :vertical="mode === 'vertical'"
      >
        {{ text }}
        <v-btn color="pink" flat @click="snackbar = false">Close</v-btn>
      </v-snackbar>

      <!-- dialog starts here -->
      <v-layout row justify-center>
        <v-dialog v-model="dialog" persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="headline" style="color:orange">Sign up</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field label="FIrst Name" required v-model="register.fname"></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field label="Last Name" required v-model="register.lname"></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      label="Email*"
                      required
                      v-model="register.email"
                      :rules="emailRules"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      label="Password"
                      :rules="[rules.required, rules.min]"
                      :type="show1 ? 'text' : 'password'"
                      name="input-10-1"
                      hint="At least 8 characters"
                      counter
                      @click:append="show1 = !show1"
                      required
                      v-model="register.password"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      label="confirmPassword*"
                      v-model="register.confirmPassword"
                      :rules="[rules.required, rules.min]"
                      :type="show1 ? 'text' : 'password'"
                      name="input-10-1"
                      hint="At least 8 characters"
                      counter
                      @click:append="show1 = !show1"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-progress-circular
                v-if="progress==='true'"
                :size="70"
                :width="7"
                color="white"
                :indeterminate="true"
              ></v-progress-circular>

              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
              <v-btn color="blue darken-1" flat v-on:click="save()">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <div class="text-xs-center"></div>
      </v-layout>
      <!-- dialog ends -->
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  dialog: false,
  data() {
    return {
      snackbar: false,
      y: "bottom",
      x: null,
      mode: "",
      timeout: 6000,
      text: "",
      dialog: false,
      show1: false,
      progress: false,
      login: {
        email: "",
        password: ""
      },
      register: {
        fname: "",
        lname: "",
        profile: "",
        email: "",
        password: "",
        confirmPassword: ""
      },
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 8 || "Min 8 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  },
  methods: {
    Dialog: function() {
      this.dialog = true;
    },
    save: function() {
      this.progress = "true";
      let newUser = {
        fname: this.register.fname,
        lname: this.register.lname,
        email: this.register.email,
        password: this.register.password,
        confirmPassword: this.register.confirmPassword
      };
      axios.post("http://localhost:2020/users/reg", newUser).then(response => {
        console.log(response.data);
        this.progress = "false";
        this.text = response.data;
        this.snackbar = "true";
        this.$router.replace({ name: "login" });
      });

      console.log(newUser);
    },
    Login: function() {
      this.progress = "true";
      if (this.login.email === "") {
        this.$router.replace({ name: "login" });
        this.progress = "false";
        this.text = "enter login details";
        this.snackbar = "true";
      } else {
        let user = {
          email: this.login.email,
          password: this.login.password
        };
        axios.post("http://localhost:2020/users/login", user).then(response => {
          if (response.data.user) {
            console.log(response.data.user);
            window.localStorage.setItem("token", response.data.token);
            window.localStorage.setItem(
              "auth-user",
              JSON.stringify(response.data.user)
            );
            this.progress = "false";
            this.$router.replace({ name: "dash" });
          } else if (response.data.user == "undefined") {
            console.log(response);
            (this.snackbar = true), (this.text = response.data);
            res.json({ message: "wrong enteries" });
            this.progress = "false";
          }
          console.log(response);
          this.progress = "false";
          this.text = response.data.message;
          this.snackbar = "true";
        });
      }
    }
  }
};
</script>

<style>
.background {
  /* background-color: orange; */
  height: 600px;
}
.style {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aquamarine;
}
.template {
  background-image: url("../../assets/champagner-toasting-new-year-s-eve-drink.jpg");
  height: 600px;
}
.loginform {
  margin: 10px;
}
</style>

