<template>
     <v-toolbar flat  fixed class="white">
<router-link tag="li" to="/">
 <img src="../../assets/3e754e7a-ea04-48cd-b3cd-c69091ae3ab4.png" alt="">
</router-link>
    <v-spacer></v-spacer>
  </v-toolbar>
</template>

<script>
export default {

}
</script>

<style>

</style>
