<template>
  <card>
    <h4 slot="header" class="card-title" color="green">Edit Profile</h4>
    <form>
      <div class="row">
        <div class="col-md-4">
          <v-text-field type="email" label="Email" placeholder="Email" v-model="email"></v-text-field>
        </div>
        <div class="col-md-4">
          <v-text-field type="email" label='User Id' v-model="userid" disabled >fdgdgdg</v-text-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <v-text-field type="text" label="First Name" placeholder="First Name" v-model="fname"></v-text-field>
        </div>
        <div class="col-md-6">
          <v-text-field type="text" label="Last Name" placeholder="Last Name" v-model="lname"></v-text-field>
        </div>
        <div class="col-md-6">
          <v-text-field type="text" label="Phone Number" v-model="phoneNumber"></v-text-field>
        </div>
        <div class="col-md-6">
          <v-text-field type="text" label="Account Number" v-model="acctNumber"></v-text-field>
        </div>
        <div class="col-md-6">
          <v-text-field type="text" label="Account Name" v-model="acctName"></v-text-field>
        </div>
        <div class="col-md-6">
          <v-text-field type="text" label="Bank" v-model="bank"></v-text-field>
        </div>
      </div>

      <div class="row"></div>

      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="text-center">
        <div class="form-group">
          <label>About Me</label>
          <textarea
            rows="5"
            class="form-control border-input"
            placeholder="Here can be your description"
            v-model="aboutMe"
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-info btn-fill float-right"
          @click.prevent="updateProfile"
        >Update Profile</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
import Card from "../UserProfile/Card.vue";
import axios from "axios";
export default {
  components: {
    Card
  },
  props: {},
  data() {
    return {
      email: "",
      fname: "",
      lname: "",
      bank: "",
      phoneNumber: "",
      acctName: "",
      acctNumber: "",
      aboutMe: ``,
      userid:''
    };
  },
  methods: {
    updateProfile() {
      var Data = JSON.parse(window.localStorage.getItem("auth-user"));
      var userid = Data._id;
      let newdetails = {
        lname: this.lname,
        fname: this.fname,
        acctNumber: this.acctNumber,
        acctName: this.acctName,
        email: this.email,
        aboutMe: this.aboutMe,
        bank: this.bank,
        phoneNumber: this.phoneNumber
      };
      axios
        .post("http://localhost:2020/users/updateProfile/" + userid, newdetails)
        .then(response => {
          console.log(response);
        });
    },
    getProfile() {
      var Data = JSON.parse(window.localStorage.getItem("auth-user"));
      this.userid  = Data._id;
      console.log(this.userid, "iididididiidid");
      axios
        .get("http://localhost:2020/users/oneUser/" + this.userid)
        .then(response => {
          console.log(response, "these are the responses");
          this.lname = response.data.result.lname;
          this.fname = response.data.result.fname;
          this.acctName = response.data.result.acctNumber;
          this.acctNumber = response.data.result.acctNumber;
          this.email = response.data.result.email;
          (this.bank = response.data.result.bank),
            (this.phoneNumber = response.data.result.phoneNumber);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.getProfile();
  }
};
</script>
<style>
</style>