<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" style="position:static">
          <user-card
            v-bind:fname="details.fname"
            v-bind:lname="details.lname"
            v-bind:bio="details.aboutMe"
          ></user-card>


        </div>
        <div class="col-md-9">
          <!-- <v-tabs fixed-tabs>
            <v-tab
              v-for="n in tabs"
              :key="n"
              @click="selected = n"
              next-icon="mdi-arrow-right-bold-box-outline"
              prev-icon="mdi-arrow-left-bold-box-outline"
              show-arrows
            >{{ n }}</v-tab>
          </v-tabs> -->
          <v-tabs background-color="transparent" color="basil"  fixed-tabs>
            <v-tab>Edit Profile</v-tab>
            <v-tab>Upload events</v-tab>
            <v-tab>Item Three</v-tab>
             <v-tab>My events</v-tab>
              <v-tab>Inbox</v-tab>

            <v-tab-item>
              <EditProfileForm />
            </v-tab-item>
            <v-tab-item>
              <uploadevent />
            </v-tab-item>
            <v-tab-item>
              <buy />
            </v-tab-item>
            <v-tab-item>
              <userEvents />
            </v-tab-item>
             <v-tab-item>
              <UserInbox />
            </v-tab-item>
          </v-tabs>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import EditProfileForm from "../UserProfile/EditProfileForm.vue";
import UserCard from "../UserProfile/UserCard.vue";
import uploadevent from "../components/uploads/uploadevent.vue";
import buy from "../components/buyAndSell/buy.vue";
import userEvents from "../UserProfile/userEvents.vue"
import UserInbox from "../UserProfile/userInbox"
export default {
  components: {
    EditProfileForm,
    UserCard,
    uploadevent,
    buy,
    userEvents,
    UserInbox
  },
  data() {
    return {
      details: "",
      tabs: ["EditProfileForm", "uploadevent", "buy", "redeemcoins"],
      selected: "EditProfileForm"
    };
  },
  created() {
    var Data = JSON.parse(window.localStorage.getItem("auth-user"));
    console.log(Data, "User data");
    this.details = Data;
  }
};
</script>
<style>
/* Helper classes */
.basil {
  background-color: #FFFBE6 !important;
}
.basil--text {
  color: #356859 !important;
}
</style>
