<template>
  <card class="card-user">
    <img slot="image" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
    <div class="author">
        <img class="avatar border-gray" src="" alt="..."/>
        <h4 class="title">{{fname}}<br />
          <small>{{lname}}</small>
        </h4>
    </div>
    <p class="description text-center"> Bio <br>
    {{Bio}}
    </p>
    <v-layout row wrap>
      <v-flex>
        #1200 coins
      </v-flex>

    </v-layout>
    <div slot="footer" class="text-center d-flex justify-content-center">
      <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
      <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
      <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
    </div>
  </card>
</template>
<script>
  import Card from '../UserProfile/Card.vue'
  export default {
    components: {
      Card
    },
    props:
      {
        fname:{
         type:String,
         default: 'First Name'
        },
         lname:{
         type:String,
         default: 'Last Name'
        },
         Bio:{
         type:String,
         default: 'your bio shows up here'
        }
       
      },
    data () {
      return {
        details: [
          {
            title: '12',
            subTitle: 'Files'
          },
          {
            title: '2GB',
            subTitle: 'Used'
          },
          {
            title: '24,6$',
            subTitle: 'Spent'
          }
        ]
      }
    },
    methods: {
      getClasses (index) {
        var remainder = index % 3
        if (remainder === 0) {
          return 'col-md-3 col-md-offset-1'
        } else if (remainder === 2) {
          return 'col-md-4'
        } else {
          return 'col-md-3'
        }
      }
    }
  }

</script>
<style scoped>
img {
  border-radius: 50%;
  height: 209px;
  padding-left: 10px
}
</style>
