<template>
  <v-app>
    <div >
      <v-content></v-content>
      <topnav/>
      <router-view />
    </div>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";
import topnav from "./components/navigation/topbar"
export default {
  name: "App",
  components: {
    HelloWorld,
    topnav,
  },
  data: () => ({
    //
  })
};
</script>
